.worklist{
    column-count: 2;
    column-gap: 0.5%;
    z-index: 0;   
}
.worklist>li{
display: flex;
max-width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
.worklist>li>img{
    max-width: 100%;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    z-index: 1;
}
.worklist>li>article{
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  color: white;
  z-index: 3;
}

.worklist>li:hover>article{
    opacity: 1;
}
.worklist>li:hover>img{
    filter: brightness(50%);
}
