header{
  position: fixed;
}
header>aside {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  float: left;
  margin-top: 40vh;
  margin-left: 2vh;
}
header>aside button{
  all: unset;
  cursor: pointer;
}
header>aside button:focus {
  outline: revert;
}
header>aside>{
  display: flex;
  justify-content: left;
}
header>aside>div img{
  width: 15px;
  transform: rotate(-90deg);
}
header>aside>div:last-child img{
  width: 25px;
}

